<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.jomnaikrider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".helpers.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JomNaikRider">

        <activity android:name=".activities.WeatherActivity"/>
        <activity android:name=".activities.AboutAppActivity"/>
        <activity android:name=".activities.ViewHistoryActivity"/>
        <activity android:name=".activities.RiderProfileActivity"/>
        <activity android:name=".activities.BookARideActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activities.RiderActivity" />
        <activity android:name=".activities.RiderLoginActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.VerificationActivity" />
        <activity android:name=".activities.AuthenticationActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".helpers.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".helpers.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>